<form method="POST" action="@ViewBag.HomeCategory">
    <select name="category">
        <option selected>Все гитары</option>
        <option>Акустическая гитара</option>
        <option>Электрическая гитара</option>
    </select>
    <input type="submit" value="Отправить" />
</form>
