<form method="POST" action="@ViewBag.HomeCategory">
    <select name="category" class="form-select-lg">
        <option selected>Все гитары</option>
        <option>Акустическая гитара</option>
        <option>Электрическая гитара</option>
    </select>
    <input type="submit" value="Выбрать" class="btn btn-warning mt-1"/>
</form>
