<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="image/x-icon" href="/img/favicon.ico" rel="icon"/>
</head>
<body class="bg-success bg-gradient">
    @await Html.PartialAsync("../PartialHtml/Header.cshtml");
    <div class="container mt-5">
        @RenderBody()
    </div>
    @await Html.PartialAsync("../PartialHtml/Footer.cshtml");
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
